:root {
    --primary-color: #f34d00d2;
}

body {
    background-image: url("../images/fundo-game-3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.main {
    display: none;
}

.container {
    display: flex;
}

.section-left {
    width: 15%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-center {
    width: 70%;
    padding: 15px;
}

.section-right {
    width: 15%;
    padding: 15px;
}

.btn-game {
    width: 90%;
    margin-top: 15px;
    padding: 15px;
    font-size: 0.8em;
    line-height: 1.5;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(240, 248, 255, 0.856);
    /* border: 2px solid var(--primary-color); */
    color: var(--primary-color);
    box-shadow: 0 3px 4px rgba(5, 5, 5, 0.527);
    text-shadow: 0 1px 1px rgba(5, 5, 5, 0.527);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: aliceblue;
    font-size: 1.2em;
    width: auto;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
}

#listScores {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scores {
    width: 15%;
    margin: 15px;
    padding: 5px;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scores-title {
    width: 100%;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    font-size: 1.2em;
    background-color: var(--primary-color);
    color: #fff;
}

.scores-player {
    text-align: center;
    min-width: 100%;
    margin-top: 15px;
    padding: 8px;
    font-size: 0.8em;
    line-height: 1.5;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(240, 248, 255, 0.856);
    /* border: 2px solid var(--primary-color); */
    color: var(--primary-color);
    box-shadow: 0 3px 4px rgba(5, 5, 5, 0.527);
    text-shadow: 0 1px 1px rgba(5, 5, 5, 0.527);
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 14px;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.card {
    aspect-ratio: 3/4;
    width: 110px;
    border-radius: 5px;
    position: relative;
    transition: all 500ms ease;
    transform-style: preserve-3d;
    background-color: #b8b8b8;
    cursor: pointer;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border: 5px solid #ff4b14;
    border-radius: 5px;
    box-shadow: 0 3px 4px rgba(5, 5, 5, 0.527);
    transition: all 400ms ease;
}

.front {
    transform: rotateY(180deg);
}

.back {
    background-image: url("../images/fundo-card-4.jpg");
    backface-visibility: hidden;
}

.reveal-card {
    transform: rotateY(180deg);
}

.disabled-card {
    filter: saturate(0);
    opacity: 0.5;
}

/* Modal */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal {
    background-color: #0060b9b2;
    border: 3px solid #ffffff9f;
    color: #fff;
    letter-spacing: 1px;
    font-size: 1.2em;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    line-height: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.btn {
    padding: 15px 20px;
    margin-top: 100px;
    font-size: 0.8em;
    background-color: #ff4b14;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    min-width: 100%;
}

@media (max-width: 1200px) {
    .header {
        font-size: 1.1em;
    }

    .btn-game {
        word-break: break-all;
        padding: 5px;
        font-size: 0.6em;
        min-width: 100%;
    }

    .scores-player {
        font-size: 0.7em;
    }

    .scores-title {
        font-size: 0.9em;
    }
}

@media (max-width: 769px) {
    .container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .scores {
        display: none;
    }

    .section-left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 100%;
    }

    .section-center {
        width: 100%;
        padding: 0;
        font-size: 0.7em;
    }

    .section-right {
        width: auto;
        padding: 15px;
    }

    .btn-game {
        font-size: 0.8em;
        min-height: 45px;
        padding: 5px;
        min-width: 50%;
        margin: 5px;
        line-height: 1.4;
    }

    .header {
        height: 60px;
        font-size: 1.2em;
        padding: 15px;
        margin-bottom: 15px;
        border-radius: 0;
        line-height: 1.4;
        justify-content: space-between;
    }

    .player {
        word-break: break-all;
    }

    .grid {
        padding: 30px 6px;
        gap: 7px;
    }

    .card {
        width: 70px;
    }

    .main {
        display: flex;
        z-index: 1;
    }

    .face {
        border: 3px solid var(--primary-color);
    }

    @media (max-width: 500px) {
        .grid {
            padding: 0px 6px;
        }
    }

    @media (max-width: 500px) {
        .btn-game {
            font-size: 0.6em;
        }
    }
}
